*{
    margin: 0px;
    padding: 0px;
}


img {
    display: block;
    margin: 0 auto;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 30%;
  }
  
  
  

  
  nav li {
    margin-right: 100px; 
  }
  
  nav a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    white-space: nowrap;
  }